/*This is the style sheet for your page that you can edit

You can change the text colours "color", the background colour "background-color" and a few other things. 

## Colors = colours (Americans again!)
    All colours below are in hex such as #7413dc for scout purple, You can find the standard Scout colurs on page 12 & 13 of https://docs.scoutsbrand.org.uk/guidelines.pdf
    
    But you are free to use other colours, you can look them up here: https://www.w3schools.com/colors/colors_picker.asp?colorhex=7413dc
    or just google "hex color picker"  
    
    For simple colors you can just type them. For example "color: red" would work. 
    You can find the standard colour names here: https://www.w3schools.com/colors/colors_hex.asp 

*/


.story-title-box {
    margin: auto;
    background: #7413dc;
    color: #ffffff;
    padding: 0.5em;
}

.story-page {
    align-items: center;
    margin: auto;
    max-width: 1200px;
    background: #ffffff;
    color: #404040;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.column {
	float: left;
	padding: 15px;
	width: 40%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}

/* This sets the spaceing between paragraphs*/
.story-page p {
    margin: 1em 0;
}

/* This would change the color of all h1 headers in your blog*/
.story-page h1 {
    color: #404040;
}

/* This would change the color of all h2 headers in your blog*/
.story-page h2 {
    color: #404040;
}

.story-page a {
    color: #7413dc;
    text-decoration: underline dotted;
}

.story-page a:hover {
    text-decoration: underline;
}

.story-page img {
    display: block;
    margin: auto;
    margin-top: 0.5em;
    max-width: min(100%, 1200px);
}

.story-page img-caption {
	color: #6c6c6c;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}


footer{
    background-color: #7413dc;
    color: #ffffff;
    line-height: 1.6rem;
    padding: 10px;
}
