.story-title-box {
    margin: auto;
    background: #00a794;
    color: #ffffff;
    padding: 0.5em;
}

.story-page {
    margin: auto;
    max-width: 1200px;
    background: #ffffff;
    color: #404040;
    padding: 0.5em;
    margin-top: 0.5em;
}

.story-page img{
    margin: auto;
    margin-top: 0.5em;
    max-width: 1200px;
}

footer{
    background-color: #7413dc;
    color: #ffffff;
    line-height: 1.6rem;
    padding: 10px;
}